@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-200.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-300.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-regular.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-500.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-600.woff2) format('woff2');
    }
}

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/poppins-v20-latin-700.woff2) format('woff2');
    }
}

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f0f2f5;
    }
}

.MuiOutlinedInput-root {
    font-family: 'Poppins', sans-serif !important
}

.MuiInputLabel-root {
    font-family: 'Poppins', sans-serif !important
}

.MuiFormHelperText-root {
    font-family: 'Poppins', sans-serif !important
}
